body{
  background-image: linear-gradient(to bottom, #137c8c, #5d7568);
}
.cardss-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    
    flex-direction: column;
    align-items: center;
      margin-bottom: 10px;
      text-align: center;
     
       

  }
  
  .card {
    width: 40%;
    background:rgb(0, 0, 0);
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.7), rgba(255, 0, 0, 0.4));
    
    color: #fbfbfb;
    
    border-radius: 8px;
    margin-bottom: 18px;
    text-align: justify;
  }
  
  .suggestions {
    list-style: none;
    padding-left: 351px;
    padding-right: 351px;
    margin: 0;
  }
  
  .suggestions li {
    cursor: pointer;
    padding: 5px;
    padding-left: 3px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #eaeaea;
  }
  
  .suggestions li:hover {
    background-color: #eaeaea;
  }
 