body {
  background-image: linear-gradient(to bottom, #137c8c, #5d7568);
}

.template_Containerec {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.eccontainer {
  margin: 10px;
}

.course-details {
  padding: 10px;
}

.card-text {
  white-space: pre-line;
  padding: 20px;
}

#root>div>div.template_Containerec>div>div>div {
  flex: 1 1 auto;
  color: var(--bs-card-color);
  padding: 0px;
}

.button-spacing {
  margin-right: 10px;
}

.icon-spacing {
  margin-left: 10px;
}

#root>div>div.template_Containerec>div>div {
  width: 500px;
  background: rgb(0, 0, 0);

  color: #fbfbfb;

  border-radius: 8px;
  margin-bottom: 18px;
  text-align: justify;
}

.suggestions {
  list-style: none;
  padding-left: 351px;
  padding-right: 351px;
  margin: 0;
}

.suggestions li {
  cursor: pointer;
  padding: 5px;
  padding-left: 3px;
  background-color: #f8f8f8;
  border-bottom: 2px solid #eaeaea;
}

.suggestions li:hover {
  background-color: #eaeaea;
}