.admin-page {
  background-image: linear-gradient(to bottom, #b0e0e6, #b0e0e6);
  background-color: 50 #b0e0e6;
  height: 1200px;
}
.admin-page .card{
  background:rgb(0, 0, 0);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.7), rgba(255, 0, 0, 0.4));
}
#AcsearchInput1 {
  color: black;
  background-color: white;
  border: 2px solid white;
  height: 35px;
  margin: 8px;
  padding: 10px 30px;
  width: 350px;
  
}

.ActemplateContainer1 > .AcsearchInput_Container1 input {
  color: white;
  width: 70%;
  padding: 20px;
  margin: 6% 0;
  outline: none;
  border-radius: 5px;
  
}
.AcsearchInput_Container1 {
  color: white; 
 margin-top: 0px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 20px;
 
}

.ActemplateContainer1 > .AcsearchInput_Container1 button {
  color: white;
  width: 7%;
  height: 35px;
  margin: 8px;
  border: none;
  background-color: blue ; 
  border-radius: 5px;
  padding: 10px 20px;
  outline: none; 
  text-align: center;
 
   }   

.AcsearchInput_Container1 button:hover{
    color: white;
    font-weight: bold;
  }   


.card .card-img-top {
  height: 200px;

  object-fit: cover;

}
.card-body{
  padding:inherit;
}
 div.d-flex.justify-content-between.mb-3{
  height: 10px;
}

.card-title {
  text-align: center;
  color: antiquewhite;

}

.card-text strong {
  font-weight: bold;
  color: antiquewhite;
}



.card-body .text-start {
  text-align: center;
}
/* 




 #root > div.admin-page > div.row.row-cols-xl-3.row-cols-lg-3.row-cols-md-3.row-cols-sm-1.row-cols-1{
  padding:220px;
  padding-top: 20px;
  margin-right: 0px;
  margin-left: 70px; 

} */
#AddAcademy {
  position: fixed;
  bottom: 10px;
  right: 20px;    
}

#deleteAcademy{
  padding: 2px;
  color: #f8f3f3;
  
}

#searchButton11 button:hover{
  color: white;
  font-weight: bold;
}  
#root > div.admin-page > div.d-flex.justify-content-center.col-sm-16 > div{
  color: black;
  background-color: white;
  border: 2px solid white;
  height: 35px;
  margin: 8px;
  padding: 10px 30px;
  width: 350px;
} 
.no-underline {
  text-decoration: none;
}
.button-select{
display: flex;
justify-content: flex-end;
margin-right: 10px;
position: absolute;
top: 20%;
right: 10px;
}

.Academycheckmark-icon{
color: black;
font-size: 20px;
margin-left: 2px;
}

.cardcontainer{
margin-bottom: 60px;
margin-left: 60px;

}
.admin-page .star-rating{
  margin-top: 30px;
}