.AdminAcdemo input [type= "text"] {
  height: 30px;
  border-radius: 10px;
}
.AdminAcdemo{
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 10px; 
}
textarea{
  height: 60px;
  width:20%;
  border-radius: 10px;
}
.addAcademy{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  
}
.AdminAcreg1{
  background-image: linear-gradient(to bottom, #b0e0e6, #b0e0e6);
  background-color: 50 #b0e0e6;
  height: 878px;
}
.error{
  color: red;
  font-size: large;
  margin-right: auto;
}
h1{
  color:black
}
#academyDescription{
  margin-right: 5px;
  height: 100px; 
  width: 340px;
  text-align: center;
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
}
.add-admin-form-container {
  margin-left: 90px;
  width: 350px;
  border-radius: 80px;
}

::placeholder {
  font-family: Arial, sans-serif;
  font-size: 14px;
  /* color: white; */
  color: black;

}
#addAcademy{
  border-radius: 10px;
  margin-right: 8px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin-bottom: 15px;
 

}
#academyName,#imageUrl,#AcademyLocation,#ContactNumber,#emailId{
  height: 35px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid white;
}
.add-admin-form-container{
  margin-left: 90px;
    width: 500px;
    background-image: linear-gradient(to bottom,#18a9a6,#a3ada8);
    /* background-image: linear-gradient(to bottom,#067a78,#a3ada8); */
    border-radius: 20px;
    height: 870px;
    padding: 20px;
    
}